<!doctype html>
<html lang="pt-br">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/styles/styles.css">
    <script src="~/Scripts/jsAguarde.js"></script>





    @{
        FormsAuthenticationTicket ticket = FormsAuthentication.Decrypt(Request.Cookies["nomePortal"].Value);
        var nome = ticket.UserData;
        FormsAuthenticationTicket ticket2 = FormsAuthentication.Decrypt(Request.Cookies["permissao"].Value);
        var permissao = ticket2.UserData;

    }

    <title>CEAP Gestão de Pessoas</title>
</head>

<body style="background-color:white; margin-bottom:15px;">

    <div class="container" id="navbar-site">

        <!-- Barra -->

        <nav class="navbar fixed-top navbar-expand-lg" id="barra-interno">

            <div class="container">
                <a class="navbar-brand" href="#"><img src="~/images/logo-interno.png"></a>

                <div class="d-flex flex-row">
                    <div style="margin-right: 30px"><p style="color: white;">Bem vindo, @nome</p></div>

                    <button class="btn" id="btn-logout" onclick="Logout()">SAIR</button>
                </div>

            </div>
        </nav>


    </div>

    <div style="height: 40px"></div>

    <div class="container" style="position:relative;">

        <!-- Menu Lateral-->
        <div class="col-md-3" style="position: absolute; left:0px; width:200px;">
            @if (@permissao == "1")
            {
                @Html.Partial("~/Views/Menu/LayoutMenu.cshtml")
            }
            else
            {
                @Html.Partial("~/Views/Menu/LayoutMenuCliente.cshtml")
            }
        </div>

        <!-- Conteúdo-->
        <div class="col-xl-9" style="margin-left: 200px; margin-bottom: 50px;">
            @RenderBody()
        </div>

    </div>

    @*<footer style="margin-left:300px;">
            <p>Criado por: Uniondev</p>
            <p>Contato: impuniondev@gmail.com</p>
        </footer>*@

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="~/Content/SweetAlert2/src/sweetAlert22.js"></script>    
    <link href="~/Content/vendors/sweetalert/dist/sweetalert.css" rel="stylesheet" />

    <script src="~/Scripts/js/materialize.min.js"></script>
</body>

</html>

<script>

    $(document).ready(function () {
        $("#usu").val("Admin");
    });

    function Agenda() {
        location.href = "@Url.Action("Agenda", "Admin")"
    }

    function CadastroCliente() {
        window.location.href = "@Url.Action("CadastroClienteAdmin", "Admin")"
    }

    function BancoClientes() {
        location.href = "@Url.Action("ConsultaClienteAdmin", "Admin")";
    }

    function BancoCandidatos() {
        location.href = "@Url.Action("ConsultaCandidatos", "Admin")";
    }

    function Logout() {
        window.location.href = "@Url.Action("LogOff", "Conta")";
    }

    function TelaAgenda() {
        window.location.href = "@Url.Action("", "Admin")";
    }

    function TelaRelatorio() {
        window.location.href = "@Url.Action("Relatorio", "Admin")"
    }

    function PainelDeControleCliente() {
        window.location.href = "@Url.Action("PainelControleCliente", "Cliente")"
    }

    function AgendarExame() {
        window.location.href = "@Url.Action("AgendaConsulta", "Cliente")"
    }

    function CadastrarCandidato() {
        window.location.href = "@Url.Action("CadastroCandidatoCliente", "Cliente")"
    }

    function BancoCandidatosCliente() {
        window.location.href = "@Url.Action("BancoCandidato", "Cliente")"
    }


</script>